@import "tailwindcss";

:root {
  --background: #edf7ff;
  --foreground: #edf7ff;
  --font-sans: "Noto Sans JP", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edf7ff;
    --foreground: #edf7ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}